<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="static/css/searchPage.css" rel="stylesheet" type="text/css">
    <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
    <title>Video Search Engine</title>
    <style></style>
    <script>
      $(document).ready(function(){
        var background_width = $(window).width();
        var background_height = $(window).height();

        $(".background_layer_div").css("width",background_width+"px");
        $(".background_layer_div").css("height",background_height+"px");
      });
    </script>
  </head>

  <body>
    <div style="width: 295px; margin: 0 auto; padding-top: 33px;"><a href="./index.html"><img src="static/img/logo8.png" style="width: 305px;"></a></div>
    <div class="container">
      <p style="font-size:28px; font-weight:600;">검색결과</p>
      <div class="grayLine"></div>

      <div class="thumbnails">
        <ul>
          <li class="search_list">
            <div class="thumbnail_img"></div>

            <ul class="text">
              <li class="title">[빅뱅이론] 시즌1 17화(마지막화) - 쉘든의 자리 찾기</li>
              <li class="writer">Youngjin Kim</li>
              <li class="description">빅뱅이론 시즌1 대망의 마지막화! 쉘든은 오랜 방황을 마치고 자리를 찾아가기 시작하는데...</li>
            </ul>
          </li>

          <li class="search_list">
            <div class="thumbnail_img"></div>
            <ul class="text">
              <li class="title">[빅뱅이론] 시즌1 17화(마지막화) - 쉘든의 자리 찾기</li>
              <li class="writer">Youngjin Kim</li>
              <li class="description">빅뱅이론 시즌1 대망의 마지막화! 쉘든은 오랜 방황을 마치고 자리를 찾아가기 시작하는데...</li>
            </ul>
          </li>

          <li class="search_list">
            <div class="thumbnail_img"></div>
            <ul class="text">
              <li class="title">[빅뱅이론] 시즌1 17화(마지막화) - 쉘든의 자리 찾기</li>
              <li class="writer">Youngjin Kim</li>
              <li class="description">빅뱅이론 시즌1 대망의 마지막화! 쉘든은 오랜 방황을 마치고 자리를 찾아가기 시작하는데...</li>
            </ul>
          </li>

          <li class="search_list">
            <div class="thumbnail_img"></div>
            <ul class="text">
              <li class="title">[빅뱅이론] 시즌1 17화(마지막화) - 쉘든의 자리 찾기</li>
              <li class="writer">Youngjin Kim</li>
              <li class="description">빅뱅이론 시즌1 대망의 마지막화! 쉘든은 오랜 방황을 마치고 자리를 찾아가기 시작하는데...</li>
            </ul>
          </li>

          <li class="search_list">
            <div class="thumbnail_img"></div>
            <ul class="text">
              <li class="title">[빅뱅이론] 시즌1 17화(마지막화) - 쉘든의 자리 찾기</li>
              <li class="writer">Youngjin Kim</li>
              <li class="description">빅뱅이론 시즌1 대망의 마지막화! 쉘든은 오랜 방황을 마치고 자리를 찾아가기 시작하는데...</li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </body>
</html>
